<div class="pura-carousel">
  {% if galleryCounter is defined and galleryCounter == true %}
    <div class="carousel-counter"></div>
  {% endif %}

  <div class="carousel" data-carousel>
    {% for slide in urls %}
    <div class="carousel-cell">
      <img data-flickity-lazyload="{{slide}}" alt="">
    </div>
    {% endfor %}
  </div>
</div>
