<div class="pura-materialCard {% if modifiers is defined and modifiers %}pura-materialCard--{{modifiers | join(' pura-materialCard--')}}{% endif %}{% if helpers is defined and helpers %} {{helpers | join(' ')}}{% endif %}">
  {{data}}
</div>
