/*
Button Component
@description
@description
*/

.pura-btn {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  background: red;
  color: inherit;

  &--hvcentered {
    justify-content: center;
    align-items: center;
  }

  &--space-between {
    justify-content: space-between;
    align-items: center;
  }
}
