<div class="pura-hero {% if modifiers is defined and modifiers %}pura-hero--{{modifiers | join(' pura-hero--')}}{% endif %}{% if helpers is defined and helpers %} {{helpers | join(' ')}}{% endif %}">

  <div class="pura-hero__banner pura-hero__banner--bgimg pura-hero__banner--fixedh">
    <div class="pura-hero__banner-wrap">
      <div class="pura-hero__banner-img" style="background-image: url(https://placehold.it/1200x600);"></div>
    </div>
  </div>

</div>
